#applicationbox {
	background : rgba(255, 127, 128, 1);
	padding: 8px;
	margin : 10px;
	width: 200px;
	float:up;
}

#application_fullname {


}

#application_date {

}

#application_content {

}

#application_post_link {
}


