#loginTable
{
	width: 60%;
	margin: auto;
}

#loginImage
{
	width: 50%;
	margin: auto;
}

label
{
	width: 9em;
    float: left;
    margin-right: 0.5em;
}

.spooky
{
	color: yellow;
}

img
{
	
}

#right
{
	text-align: right;
	float: right;
}

#applicationform
{
	float: left;
	color: yellow;
}
a
{
	color: yellow;
}

#menu, th
{
	border: yellow 2px solid;
	float: left;
	width: 97%;
	text-align: center;
}

#menu
{
	width: 19.8%;
}


#content
{
	width: 80%;
	margin: auto;
	padding: 7% 0px 20px 0px;
}

#mainSpooks
{
	border: yellow 1px solid;
	width: 80%;
	float: right;
	height: auto;
}

#mainSpooks2
{
	border: yellow 1px solid;
	width: 80%;
	float: right;
	height: 850px;
}

h0
{
	font-size: 50px;
	color: yellow;
	font-weight: bold;
	display: block;
	text-align: center;
	padding-bottom: 20px;
}

.spookybutton
{
	margin-top: 4.5em;
	margin-right: 0.7em;
	right:0;
	position: absolute;
}

#spookyDancing
{
	padding-top: 20px;
	display: block;
	margin: auto;
	
	position: relative;
	width: 100px;
	
	-webkit-animation: myfirst 5s linear 2s infinite alternate;
	animation: myfirst 5s linear 2s infinite alternate;
}

h1
{
	text-align: center;
}

#mainspooks, h3
{
	margin-left: 50px;
}

#moreScaryDivs
{
	margin-left: 200px;
}

#evenMoreScaryDivs
{
	float: right;
	margin-right: 200px;
}

#spookyCenter
{
	padding-top: 20px;
	display: block;
	margin: auto;
}

.activeSpooks
{
	background-color: red;
}

#footer
{
	width: 100%;
	background-color: white;
	float: left;
	color: black;
}

#content
{
	width: 80%;
	margin-bottom: -2em;
	min-height: 100%;
}

#content:after {
  content: ".";
  display: block;
}

#footer, #content:after {
  height: 2em; 
}

*
{
  margin: 0;
}

html, body
{
  height: 100%;
  color: yellow;
  background-image: url("seizure.gif");
  cursor: crosshair !important;
}

#viewApplications{
	padding: 50px;
}

#spookyform
{
	position: absolute;
	/*-webkit-animation: myfirst 5s linear 2s infinite alternate;
	animation: myfirst 5s linear 2s infinite alternate;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {left:0px; top:0px;}
	25%   {left:-200px; top:0px;}
	50%   {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {left:0px; top:0px;}
	25%   {left:-200px; top:0px;}
	50%   {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

#spookyConference
{
	width: 860px;
	border: yellow 2px solid !important ;
}

#spookyCountry  label
{
	width: 4em;
}

#spookyCountry
{
	width: 800px;
}

#tablesAreAwesome label
{
	width: 10em;
}

#goodCoding label
{
	width: 8.6em;
}

#spookyman
{
	width: 600px;
}

#spookyman label
{
	width: 15em;
}